# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=0.6,!=0.7,<1.0
Babel>=1.3
configure>=0.5
python-novaclient>=2.18.1
python-neutronclient>=2.3.6
paramiko>=1.14.0
lxml>=3.4.0
scp>=0.8.0
oslo.utils>=1.0.0
python-openstackclient>=0.4.1
python-keystoneclient>=0.11.1
pycrypto>=2.6.1
ecdsa>=0.11
pymongo>=2.7.2
tabulate>=0.7.3
